p {
  color: white;
  margin: 0;
  max-width: 100%;
}
.container {
  width: 380px;
  height: 370px;
  margin: auto;
  position: relative;
}
.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: black;
  position: relative;
}
