body {
  margin: 0;
  background-color: black;
}
.grid-container {
  max-width: 1000px;
  max-height: 500px;
  margin: 0;
}
.grid {
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 10px;
  display: inline-block;
}
